{{- define "main" }}
<div class="taxonomy-page">
  <h1 class="taxonomy-title">{{ .Title }}</h1>
  <div class="post-list">
    {{- range .Paginator.Pages }}
    <article class="post">
      <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="post-date">{{ .Date.Format (site.Params.dateFormat | default "2006-01-02") }}</div>
      {{- with .Summary }}<div class="post-except">{{ . }}</div>{{ end }}
    </article>
    {{- end }}
  </div>
  {{- partial "paginator.html" . }}
</div>
{{- end }}
