{{- if gt .TotalPages 1 }}
<nav class="paginator" aria-label="分页">
  {{- if .HasPrev }}
  <a href="{{ .Prev.URL }}">«</a>
  {{- else }}
  <span class="space">«</span>
  {{- end }}
  {{- range .Pagers }}
    {{- if eq .PageNumber $.PageNumber }}
    <span class="current">{{ .PageNumber }}</span>
    {{- else }}
    <a href="{{ .URL }}">{{ .PageNumber }}</a>
    {{- end }}
  {{- end }}
  {{- if .HasNext }}
  <a href="{{ .Next.URL }}">»</a>
  {{- else }}
  <span class="space">»</span>
  {{- end }}
</nav>
{{- end }}
